<!--div class="flex row table-header">
	<div class="flex padding-10"> {{ "insurance.company" | translate }} </div> 
	<div class="flex padding-10"> {{ "insurance.brand" | translate }} </div> 
	<div class="flex padding-10"> {{ "insurance.model" | translate }} </div> 
	<div class="flex padding-10"> {{ "insurance.plate" | translate }} </div> 
</div>
		
<div class="flex row" *ngFor="let insurance of insurancesArray">
	<div class="flex padding-10"> {{ insurance.company }} </div>
	<div class="flex padding-10"> {{ insurance.plate }} </div>
	<div class="flex padding-10"> {{ insurance.vehicleBrand }} </div>
	<div class="flex padding-10"> {{ insurance.vehicleModel }} </div>
</div-->

<ag-grid-angular
    class="manager-grid ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
